ion-title {
    padding: auto;
}
ion-col {
    border: solid 1px #fff;
    color: #fff;
    text-align: center;
}
.nombre-label {
    font-weight: bold;
    font-size: 25px;
}
ion-input {
    margin: 10px 0px;
    border-bottom: 3px solid;
}
ion-button {
    --color: #25c904;
    --border-color: #25c904;
}