<ion-header [translucent]="true">
  <ion-toolbar color="light"> 
    <ion-title>
      Lista de Alumnos: <br>
      Lab. Apps Moviles 033
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [fullscreen]="true">
  <form #alumnoForm="ngForm" (ngSubmit)="agregarAlumno()">
    <ion-label class="nombre-label"> 
      Nombre del alumno 
    </ion-label>
    <ion-input required [(ngModel)]="nuevoAlumno.nombre" placeholder="Ej: Leonardo Pérez" name="nombre"></ion-input>
    <ion-label>
      <ion-checkbox [(ngModel)]="nuevoAlumno.presente" name="presente" labelPlacement="end">
        Presente 
      </ion-checkbox>
    </ion-label>
    <div>
      <ion-button type="submit" shape="round" fill="outline"> Agregar Alumno </ion-button>
    </div>
  </form>

  <ion-label>
    <ion-grid>
      <ion-row>
        <ion-col>
          Nombre
        </ion-col>
        <ion-col>
          Asistencia
        </ion-col>
      </ion-row>

      <ion-row *ngFor="let alumno of alumnos">
        <ion-col>
          {{ alumno.nombre }}
        </ion-col>
        <ion-col>
          {{ alumno.presente }}
        </ion-col>
      
      </ion-row>
    </ion-grid>
  </ion-label>
</ion-content>